module.exports = function(grunt) {
  var path = require('path');

  grunt.initConfig({
    // bowerでインストールしたライブラリをsource以下に置く
    bower: {
      install: {
        options: {
          targetDir: './source/js/lib',
          layout: function(type, component, source) {
            return path.join();
          },
          install: true,
          verbose: false,
          cleanTargetDir: false,
          cleanBowerDir: false
        }
      }
    },

    watch: {
      files: [
        'lib/**/*.js'
      ],
      tasks: ['browserify']
    },

    browserify: {
      dist : {
        src : 'lib/main.js',  // エントリーポイントとなるファイル
        dest : 'source/js/all.js'  // 出力するファイル名
      },
      options: {
        browserifyOptions: {
          debug: true
        }
      }
    },

    middleman: {
      options: {
        useBundle: true
      },
      server: {
        options: {
          command: "server",
          useBundle: true,
          environment: "development",
          host: "192.168.1.11",
          port: 4567,
          clean: true,
        }
      },
      build: {
        options: {
          command: 'build'
        }
      }
    }
  });

  //matchdepでpackage.jsonから"grunt-*"で始まる設定を読み込む
  require('matchdep').filterDev('grunt-*').forEach(grunt.loadNpmTasks);

  grunt.registerTask('i', ['bower:install']);
  grunt.registerTask('s', ['middleman:server']);
  grunt.registerTask('w', ['watch']);
  grunt.registerTask('b', ['browserify', 'middleman:build']);
};
