@charset "utf-8"

@import compass/css3
@import compass/typography

/* ============================
 * 
 *     Reset Defaults
 *
 * ============================ */

@import compass/reset

/* ============================
 * 
 *     Whole Contents
 *
 * ============================ */

$key-blue: #0085C0
$sub-red: #E7373C

$font-marugo: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W6","Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", "メイリオ", "Meiryo"

$font-hiraw1: ".HiraKakuInterface-W1", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro"

html, body
  height: 100%

body
  overflow-x: hidden
  width: 100%
  height: 100%
  font-size: 100%
  line-height: 140%
  color: #333
  background: #F8F8F0
  font-family: "Source Sans Pro", sans-serif

img
  vertical-align: bottom
  -ms-interpolation-mode: bicubic

strong
  font-weight: bold

a
  +link-colors($key-blue, $sub-red, $sub-red, $key-blue, $sub-red)//n-h-a-v-f

input
  font-size: 75%
  line-height: 120%

input.placeholder
  color: #999

::selection
  background: #E7373C
  color: #FFF

::-moz-selection
  background: #E7373C
  color: #FFF


/* ============================
 * 
 *     Contents
 *
 * ============================ */

#main
  height: 100%
  position: relative

.page
  position: relative
  width: 100%
  height: 100%
  width: 100vw
  height: 100vh

.page-title
  padding: 1em 0
  font-size: 150%
  line-height: 140%
  text-align: center
  color: $key-blue
  font-family: $font-hiraw1
  .fa
    margin-right: 0.25em

.logo
  position: absolute
  left: 50%
  top: 50%
  opacity: 0
  img
    display: none

.no-svg
  .logo
    svg
      display: none
    img
      display: inline

.tagline
  position: absolute
  top: 20%
  width: 100%
  text-align: center
  cursor: default
  p
    font-size: 100%
    font-family: "Source Sans Pro", sans-serif
    color: #E7373C

.outbound
  position: absolute
  left: 0
  bottom: 20%
  width: 100%
  min-width: 60px
  min-height: 60px
  margin: 0
  text-align: center
  //background: #FCC
  a
    display: inline-block
    min-width: 60px
    min-height: 60px
    text-align: center
    font-size: 150%
    line-height: 60px
    text-decoration: none

.outbound-label
  display: none

.inline-outbound
  font-size: 75%


/* ===== codemit.jp ===== */

#codemit
  .logo
    width: 128px
    height: 128px
    margin: -64px

#goto-contact
  position: absolute
  left: 50%
  bottom: 10%
  width: auto
  margin-left: -3.25em
  padding: 0.25em 1em
  border-radius: 4px
  text-align: center
  font-family: $font-marugo
  background: $key-blue
  color: #FFF
  cursor: pointer
  .fa
    margin-right: 0.25em


/* ===== dokokara.info ===== */

$dkr-green: #29CA83
$dkr-pale: tint($dkr-green, 90)

#dokokara
  background: $dkr-green
  color: #FFF
  a
    +link-colors(#FFF, $dkr-pale, $dkr-pale, #FFF, $dkr-pale)//n-h-a-v-f
  .logo
    width: 110px
    height: 110px
    margin: -55px
  .tagline
    p
      font-family: "Montserrat", sans-serif
      letter-spacing: 1px
      color: #FFF

/* ===== metloc.info ===== */

$metloc-color: #00182C
$metloc-lite: tint($metloc-color, 20)

#metloc
  background: #FFF
  color: $metloc-color
  a
    +link-colors($metloc-color, $metloc-lite, $metloc-lite, $metloc-color, $metloc-lite)//n-h-a-v-f
  .logo
    width: 206px
    height: 80px
    margin: -40px -103px


/* ===== oyatsu ===== */

$oyatsu-color: #FF6140
$oyatsu-lite: #FF8B73
$oyatsu-pale: #FFEBE7

#oyatsu
  background: $oyatsu-lite
  color: #FFF
  a
    +link-colors(#FFF, $oyatsu-pale, $oyatsu-pale, #FFF, $oyatsu-pale)//n-h-a-v-f
  .logo
    width: 200px
    height: 80px
    margin: -40px -100px
  .tagline
    p
      color: #FFF
      font-family: $font-marugo

/* ===== about ===== */

#about
  p
    margin: 1em

/* ===== contact ===== */

#contact
  font-family: $font-marugo

.com-form
  .form-section
    padding: 0
    //border-top: 1px solid #CCC
    &:first-child
      border-top: 0
  .form-action
    padding: 10px
  label
    box-sizing: border-box
    display: block
    padding: 0.25em 0.35em
    color: $key-blue
    font-size: 0.75rem
    line-height: 140%
  input, textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    box-sizing: border-box
    display: block
    width: 100%
    margin-bottom: 0.5em
    padding: 0.25em
    border: 0
    background: transparent
    font-family: $font-marugo
    font-size: 100%
    line-height: 140%
    background: #FFF

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder
    color: #999

  input::-moz-placeholder,
  textarea::-moz-placeholder
    color: #999

  input:-ms-placeholder,
  textarea:-ms-placeholder
    color: #999

  input[type=submit]
    width: 100%
    padding: 0.5em
    background: $sub-red
    color: #FFF
    border-radius: 4px
    letter-spacing: 1em
    text-indent: 1em
    font-weight: bold

/* ===== footer ===== */

#global-nav
  position: fixed
  left: 0
  bottom: 5%
  width: 100%
  text-align: center
  font-size: 1rem
  line-height: 120%
  letter-spacing: -0.35em
  li
    display: inline-block
    margin: 0 10px
    letter-spacing: 0
  a
    display: block
    width: 40px
    height: 40px
    border-radius: 20px
    background: $key-blue
    line-height: 40px
    text-decoration: none
    +link-colors(#FFF, #FFF, #FFF, #FFF, #FFF)//n-h-a-v-f
    transition: all 0.25s ease-in-out
    &:hover, &:active
      background: #FFF
      color: $sub-red

  .gnav-label
    display: none

/* ============================
 * 
 *     Tablet, PC
 *
 * ============================ */

@media screen and (min-width:767px)
    

  .page-wrapper
    width: 50%
    margin: 0 auto

  .tagline
    p
      font-size: 200%
      line-height: 140%

  .outbound-label
    display: inline
    margin-left: 0.25em

  /* ===== codemit.jp ===== */

  #codemit
    .logo
      width: 256px
      height: 256px
      margin: -128px

  /* ===== dokokara.info ===== */

  #dokokara
    .logo
      width: 220px
      height: 220px
      margin: -110px

  /* ===== metloc.info ===== */

  #metloc
    .logo
      width: 412px
      height: 160px
      margin: -80px -206px


  /* ===== oyatsu ===== */

  #oyatsu
    .logo
      width: 400px
      height: 160px
      margin: -80px -200px


  /* ===== contact ===== */

  .com-form
    .form-section
      width: 100%
      padding: 0.5em 0
    .form-action
      padding: 10px 0
    label
      width: 50%
      margin: 0 auto
    input, textarea
      width: 50%
      margin: 0 auto

    input[type=submit]
      width: 50%

  #global-nav
    a
      width: auto
      padding: 0 15px
    .gnav-label
      display: inline
      margin-left: 0.25em

// EOF