---
id: "thanks"
category: "thanks"
layout: "layout"
title: "お問合せ | CODE EMIT"
keywords: ""
description: ""
---

/
/ Thanks
/

section#contact.page
  h1.page-title
    i.fa.fa-envelope-o
    | お問合せ
  .layout-wrapper.contact-msg
    | お問合せいただき、ありがとうございました。

/